{% extends "encyclopedia/layout.html" %}
{% load static %}

{% block title %}
    Edit
{% endblock %}


{% block extra_styles %}
    <link href="{% static 'encyclopedia/create.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <form action="{% url 'e' %}" method="post" class="create">
        {% csrf_token %}

        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
            {{ form.title.errors }}
        </div>

        <div class="form-group">
            {{ form.content.label_tag }}
            {{ form.content }}
            {{ form.content.errors }}
        </div>

        <button type="submit">Create</button>
    </form>
{% endblock %}